:root {
    --lilas: #DABAD1;
    --lilas-escuro : #B397A9;

    --azul-escuro: #161C2A;
    --azul-claro: #404F6E;
    --azul-maisclaro: #9CA7C5;

    --azul-link: #6708ed;

    --black: #1f1d1d;
    --white: #ffffff;
}